@import "tailwindcss";

/* Ajustes adicionales para tu fondo negro */
:root {
  --background: 0 0 0;
  --foreground: 255 255 255;
}

body {
  background: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
